<ion-modal-view style="background: #EEEEEE;">
		<ion-header-bar class="bar-balanced fix-buttons">
			<button class="button-clear ng-binding" ng-click="closemodel6()">取消</button>
	 		<h1 class="title">预约详情</h1>
    	</ion-header-bar>
	<ion-content>
		<div class="list" style="margin-bottom: 5px;">
		 	<li class="item item-checkbox oinput">
      	 		<label class="checkbox">
             		<input type="checkbox" >
          		 </label>
          		 全选
        	</li>
		</div>
		
      	<ul class="list listappoint">
        	<li class="item item-checkbox">
           		<label class="checkbox">
            		 <input type="checkbox">
           		</label>
           		<p><span style="float: left;">预约:10:00-11:00</span><span style="float: right;">已预约</span></p>
           		<p><span style="float: left;">教练:李某</span><span style="float: right;">￥200元/时</span></p>
           		<p><span style="float:right;">已经失效</span></p>
        	</li>
        	<li class="item item-checkbox">
           		<label class="checkbox">
            		 <input type="checkbox">
           		</label>
           		<p><span style="float: left;">预约:10:00-11:00</span><span style="float: right;">已预约</span></p>
           		<p><span style="float: left;">教练:李某</span><span style="float: right;">￥200元/时</span></p>
           		<p><span style="float:right;">已经失效</span></p>
        	</li>
      	</ul>
        	
		
	</ion-content>
	<button style="position:fixed;bottom:0;margin-bottom:0;" ng-click="openmodal5()" class="button button-full button-balanced">支付订单</button>
</ion-modal-view>