	<ion-view view-title="教练信息" style="background: #EEEEEE;" hide-tabs="true">
	<ion-content>
		
		<div style="width: 100%;height: 131px;background: #e43e3e;position: relative;">
			<img src="resources/images/yitelogon.png" style="position: absolute;top:20%;left:30%">
			<h1 style="position: absolute;font-size:32px;left:46%;top:4%; color: white">初练</h1>
			<p style="position: absolute;left:44%;top:51%;color: white;font-size: 12px;">初练相伴&nbsp;乐动一生</p>
		</div>
		<ul class="ment_ul">
			<li class="ment_ulpic"><img src="http://www.runoob.com/try/demo_source/venkman.jpg"></li>
			<li style="font-weight: bold;">{{getlocalStorage.realName}}</li>
			<li class="ment_ullic"><span>实名认证</span>&nbsp;&nbsp;<span>专业认证</span></li>
			<li style="font-size: 12px;">{{getlocalStorage.username}}&nbsp;&nbsp;服务费：面议</li>
			<li style="font-size: 12px;">手机:{{getlocalStorage.mobile}}</li>
		</ul>
		<ul style="width: 100%;background: white;padding:0 5px 48px 5px;font-size: 12px;">
			<li style="line-height:24px;"><span style="border: 1px solid #3bb0fd;background: #def2ff;font-weight: bold;">打羽毛球:</span></li>
			<li style="text-indent: 2em;">高短结合 善于突击 动作敏捷
			高短结合 善于突击 动作敏捷
			高短结合 善于突击 动作敏捷
			高短结合 善于突击 动作敏捷
			高短结合 善于突击 动作敏捷
			</li>
		</ul>
		<input type="hidden" class="input_hidden" value="1"/>
		<!--<div class="list" ng-controller="datetimer" style="margin-bottom: 0;">-->
			<label  class="item item-input" style="background: #e43e3e;position: fixed;bottom:0;width: 100%;padding-left: 40%;border-radius: 5px 5px 0 0;margin: 0;border:none;">
		    <span class="input-label" style="color: white;">立即预约</span>
		    <ionic-datepicker input-obj="datepickerObject" class="item-button-right" >
		        <button class="button button-clear button-positive">
		        </button>
		    </ionic-datepicker>
		    </label>
		<!--</div>-->	
	<ion-content>
</ion-view>
