<ion-modal-view  style="width: 86%;background: #71d669; min-height: 260px; top:11%;left: 7%;">
	
	<ion-content>
		<div style="width: 100%;height: 100%;position: relative;" class="timer">
			<div class="timer_A">
				<div class="timer_Nav">请选中您要预约的时段：</div>
				<div style="width: 90%;height: 100%;margin: 0 auto;" class="Popup_A">
					<span style="">0:00-0:00</span>
					<span style="">1:00-1:00</span>
					<span style="">2:00-2:00</span>
					<span style="">3:00-3:00</span>
					<span style="">4:00-4:00</span>
					<span style="">5:00-5:00</span>
					<span style="">6:00-6:00</span>
					<span style="">7:00-7:00</span>
					<span style="">8:00-8:00</span>
					<span style="">9:00-9:00</span>
					<span style="">10:00-10:00</span>
					<span style="">11:00-11:00</span>
					<span style="">12:00-12:00</span>
				</div>
			</div>
			<div class="button_div">
				<button class="button-clear span_a button_true" ng-click="closemodel3()">确定</button>
				<button class="button-clear span_b">取消</button>
			</div>
		</div>
		
	</ion-content>
</ion-modal-view>