<ion-view view-title="详情" style="background:#068619" hide-tabs="true">
	<ion-content style="padding: 6% 6% 0 6%;">
		
		<div class="div_big" style="position: relative;">
			<img src="resources/images/img1.png"  style="position: absolute;top:-10%;left: 35%;width: 29%;">
			<div class="div_top">
				<h5>阿迪达斯20元代金券</h5>
				<div class="div_topA clear">
					<ul class="div_topAA">
						<li>券面额</li>
						<li>20元</li>
					</ul>
					<ul class="div_topBB">
						<li>使用条件</li>
						<li>满200元可用</li>
					</ul>
				</div>
				<div class="div_topB clear">
					<ul class="div_topB1">
						<li>有效时间</li>
						<li>2016-05-23至2017-07-23</li>
					</ul>
					<button class="div_topBbtn">去买单</button>
				</div>
			</div>
			<div class="div_bottom" style="border: none;">
				<!--<div class="list">-->
					<a class="item "  href="#/tab/CardCouponDescription" style="padding: 16px;border-radius: 10px 10px 0 0;">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							详细说明
				        <span class="item-note">
			          	</span>
					</a>
					<a class="item "  href="" style="padding: 16px;border-radius:0 0 5px 5px">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							查看服务窗
				        <span class="item-note">
				        	金凤成祥
			          	</span>
					</a>
				<!--</div>-->
			</div>
			
		</div>
	     
	</ion-content>
</ion-view>