<ion-view view-title="卡券详情">
	<ion-content class="">
        <!--<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh()"></ion-refresher>-->
			<div class="list card" style=" width:75%;margin: 5% auto;border: none; box-shadow: none;" ng-click="Jump_A()">
				
				<p style="position: absolute;top: 15%;left: 50%;font-size: 20px;color: white">易特商城<p>
				<ul class="card_vip" style="position: absolute;top:32%;left: 46%;width: 41%;">
					<li><em style="font-size: 30px;color: white;font-weight: bold;">VIP</em><span style="color: white;margin-left: 7%;font-size: 12px;">会员卡</span></li>
					<li style="font-size: 12px;color: white;margin: 9% 0 0 15%;">NO.00008888</li>
				</ul>
			 	<img class="full-image" src="resources/images/card-A.png" style="margin-top: 2%;">
			 	<ul class="slide_ul" style="color: #8c8b93;">
			 	  	<li>名称： <span>易特商城</span></li>
			 	  	<li>有效期： <span>2016-06-11至2017-06-03</span></li>
			 	  	<li>会员详情： <span>全场消费满198元9折优惠</span></li>
			 	  	<li>消费记录： <span>罗蒙西服</span></li>
			 	 </ul>	
			</div>
	</ion-content>
</ion-view>  
