<ion-view view-title="卡券">
	<ion-content class="">
	
		<tab-slide-box tab="0">
	    	<div class="tsb-icons">
	    		<div class="tsb-ic-wrp" style="display: block;">
					<ion-scroll direction="x" class="tsb-hscroll">
						<a href="javascript:;"  ng-click="showCouponList(0)" style="width: 40%;">优惠券({{couponList.length}})</a>
						<a href="javascript:;" ng-click="showCardList()" style="width: 40%;">会员卡({{cardList.length}})</a>
					</ion-scroll>
				</div>
	    	</div>
	        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
	            <ion-slide>
	            	<ion-scroll style="height:100%">
	            		<ion-refresher pulling-text="松手刷新" on-refresh="doRefreshCoupon()"></ion-refresher>
	            		<!--优惠券-->
	            			<div ng-repeat="coupon in couponList" style="height:30%;margin-bottom: -4%;">
			            		<div class="div_cardAA" >
									<img class="card_a" src="resources/images/card-1.png" />
									<div class="card_money" style="color: #fe523f;">
										
										<em style="font-size: 12px;font-weight: 600;position: absolute;left: 6%;top:36%" ng-if="coupon.type == 1">￥</em>
										<em style="font-size: 12px;font-weight: 600;position: absolute;left: 6%;top:36%" ng-if="coupon.type == 0">折</em>
										<span style="font-size:41px;font-weight: 700;position: absolute;top:11%;left: 35%;">{{coupon.discount}}</span>
									</div>
									<span class="card_line"></span>
									<span class="card_linebottom"></span>
									<ul class="card_ulAA">
										<li style="font-size: 16px;font-weight: bold;color: #000000;">{{coupon.name}}</li>
										<li>满{{coupon.maxPrice}}元可用</li>
										<li>{{coupon.startTime | dateFormatFilter}}至{{coupon.endTime | dateFormatFilter}}</li>
									</ul>	
								</div>
								<div class="div_cardBB">
									<ul class="card_ulBB">
										<li>{{coupon.decribe}}</li>
									</ul>
								</div>
							</div>
							<p ng-click="onCreate()" style="font-size:12px;height: 20%; text-decoration:underline;margin-top:5%;color:#aaa">查看历史优惠券</p>
	                </ion-scroll>
	            </ion-slide>
	            <ion-slide style="background: #FFFFFF;">
	           	 	<ion-scroll style="height:100%">
		                <ion-refresher pulling-text="松手刷新" on-refresh="doRefreshCard()"></ion-refresher>
							<div class="list card" ng-repeat="card in cardList" style=" width:75%;margin: 0 auto;border: none; box-shadow: none;" ng-click="openCardModal(card)">
								<p style="position: absolute;top: 5%;left: 32%;font-size: 16px;color: white;margin: 8% 0 0 0;">{{card.cardName}}<p>
								<ul class="card_vip" style="position: absolute;top:35%;left: 36%;width: 58%;">
									<li><em style="font-size: 30px;color: white;font-weight: bold;">VIP</em><span style="color: white;margin-left: 7%;font-size: 12px;width: 100%;">{{card.type | cardTypeFilter}}</span></li>
									<li style="font-size: 12px;color: white;margin: 0 0 0 -16%;">开始时间：{{card.startTime | dateFormatFilter}}</li>
									<li style="font-size: 12px;color: white;margin: 0 0 0 -16%;line-height: 14px;">结束时间：{{card.endTime | dateFormatFilter }}</li>
									<li style="font-size: 12px;color: white;margin: 0 0 0 -41%;">NO.{{card.cardNum}}</li>
								</ul>
							 	<img class="full-image" src="resources/images/card-A.png" style="margin-top: 2%;">
							</div>
	                </ion-scroll>
	            </ion-slide>
	        </ion-slide-box>
    	</tab-slide-box>
    	
	</ion-content>
</ion-view>
