<ion-view view-title="卡券">
	<ion-content class="">
	
		<tab-slide-box tab="0">
	    	<div class="tsb-icons">
	    		<div class="tsb-ic-wrp" style="display: block;">
					<ion-scroll direction="x" class="tsb-hscroll">
						<a href="javascript:;" style="width: 40%;">优惠券({{orders.length}})</a>
						<a href="javascript:;" style="width: 40%;">会员卡({{unSendOrders.length}})</a>
						<!--<a href="javascript:;" >待收货({{unReceiveOrders.length}})</a>
						<a href="javascript:;" >已收货({{receivedOrders.length}})</a>-->
					</ion-scroll>
				</div>
	    	</div>
	        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
	            <ion-slide>
	            	<ion-scroll style="height:100%" >
	            		<!--<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh()"></ion-refresher>-->
	            		<!--优惠券-->
	            		<div style="height:30%" ng-click="Jump()" class="div_card">
		            		<div class="div_cardAA">
								<img class="card_a" src="resources/images/card-1.png" />
								<!--<img class="card_money" src="resources/images/card-2.png" />-->
								<div class="card_money" style="color: #fe523f;">
									<em style="font-size: 12px;font-weight: 600;position: absolute;left: 6%;top:36%">￥</em>
									<span style="font-size:41px;font-weight: 700;position: absolute;top:11%;left: 35%;">2</span>
									<span style="font-size:16px; font-weight: 700;position: absolute;top:38%;left: 67%;">.0</span>
								</div>
								<span class="card_line"></span>
								<span class="card_linebottom"></span>
								<ul class="card_ulAA">
									<li style="font-size: 16px;font-weight: bold;color: #000000;">天降红包</li>
									<li>满16元可用</li>
									<li>2016-06-03至2016-06-03</li>
								</ul>	
							</div>
							<div class="div_cardBB">
								<ul class="card_ulBB">
									<li>限甜品饮品品类商家使用</li>
									<li>限每天14:00-17:00使用</li>
								</ul>
							</div>
						</div>
						<div style="height:30%" ng-click="Jump()" class="div_card">
		            		<div class="div_cardAA">
								<img class="card_a" src="resources/images/card-1.png" />
								<!--<img class="card_money" src="resources/images/card-2.png" />-->
								<div class="card_money" style="color: #fe523f;">
									<em style="font-size: 12px;font-weight: 600;position: absolute;left: 6%;top:36%">￥</em>
									<span style="font-size:41px;font-weight: 700;position: absolute;top:11%;left: 35%;">2</span>
									<span style="font-size:16px; font-weight: 700;position: absolute;top:38%;left: 67%;">.0</span>
								</div>
								<span class="card_line"></span>
								<span class="card_linebottom"></span>
								<ul class="card_ulAA">
									<li style="font-size: 16px;font-weight: bold;color: #000000;">天降红包</li>
									<li>满16元可用</li>
									<li>2016-06-03至2016-06-03</li>
								</ul>	
							</div>
							<div class="div_cardBB">
								<ul class="card_ulBB">
									<li>限甜品饮品品类商家使用</li>
									<li>限每天14:00-17:00使用</li>
								</ul>
							</div>
						</div>
						<div style="height:30%" ng-click="Jump()" class="div_card">
		            		<div class="div_cardAA">
								<img class="card_a" src="resources/images/card-1.png" />
								<!--<img class="card_money" src="resources/images/card-2.png" />-->
								<div class="card_money" style="color: #fe523f;">
									<em style="font-size: 12px;font-weight: 600;position: absolute;left: 6%;top:36%">￥</em>
									<span style="font-size:41px;font-weight: 700;position: absolute;top:11%;left: 35%;">2</span>
									<span style="font-size:16px; font-weight: 700;position: absolute;top:38%;left: 67%;">.0</span>
								</div>
								<span class="card_line"></span>
								<span class="card_linebottom"></span>
								<ul class="card_ulAA">
									<li style="font-size: 16px;font-weight: bold;color: #000000;">天降红包</li>
									<li>满16元可用</li>
									<li>2016-06-03至2016-06-03</li>
								</ul>	
							</div>
							<div class="div_cardBB">
								<ul class="card_ulBB">
									<li>限甜品饮品品类商家使用</li>
									<li>限每天14:00-17:00使用</li>
								</ul>
							</div>
						</div>
						<div style="height:30%" ng-click="Jump()" class="div_card">
		            		<div class="div_cardAA">
								<img class="card_a" src="resources/images/card-1.png" />
								<!--<img class="card_money" src="resources/images/card-2.png" />-->
								<div class="card_money" style="color: #fe523f;">
									<em style="font-size: 12px;font-weight: 600;position: absolute;left: 6%;top:36%">￥</em>
									<span style="font-size:41px;font-weight: 700;position: absolute;top:11%;left: 35%;">2</span>
									<span style="font-size:16px; font-weight: 700;position: absolute;top:38%;left: 67%;">.0</span>
								</div>
								<span class="card_line"></span>
								<span class="card_linebottom"></span>
								<ul class="card_ulAA">
									<li style="font-size: 16px;font-weight: bold;color: #000000;">天降红包</li>
									<li>满16元可用</li>
									<li>2016-06-03至2016-06-03</li>
								</ul>	
							</div>
							<div class="div_cardBB">
								<ul class="card_ulBB">
									<li>限甜品饮品品类商家使用</li>
									<li>限每天14:00-17:00使用</li>
								</ul>
							</div>
						</div>
						<div style="height:30%" ng-click="Jump()" class="div_card">
		            		<div class="div_cardAA">
								<img class="card_a" src="resources/images/card-1.png" />
								<!--<img class="card_money" src="resources/images/card-2.png" />-->
								<div class="card_money" style="color: #fe523f;">
									<em style="font-size: 12px;font-weight: 600;position: absolute;left: 6%;top:36%">￥</em>
									<span style="font-size:41px;font-weight: 700;position: absolute;top:11%;left: 35%;">2</span>
									<span style="font-size:16px; font-weight: 700;position: absolute;top:38%;left: 67%;">.0</span>
								</div>
								<span class="card_line"></span>
								<span class="card_linebottom"></span>
								<ul class="card_ulAA">
									<li style="font-size: 16px;font-weight: bold;color: #000000;">天降红包</li>
									<li>满16元可用</li>
									<li>2016-06-03至2016-06-03</li>
								</ul>	
							</div>
							<div class="div_cardBB">
								<ul class="card_ulBB">
									<li>限甜品饮品品类商家使用</li>
									<li>限每天14:00-17:00使用</li>
								</ul>
							</div>
						</div>
						<p style="margin: 10% 0 0 0;font-size: 12px;height: 20%; text-decoration: underline;cursor: pointer;color: #aaa;">查看历史优惠券</p>
	                </ion-scroll>
	            </ion-slide>
	            <ion-slide style="background: #FFFFFF;">
	           	 	<ion-scroll style="height:100%">
		                <!--<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh()"></ion-refresher>-->
							<div class="list card" style=" width:75%;margin: 5% auto;border: none; box-shadow: none;" ng-click="Jump_A()">
								<p style="position: absolute;top: 19%;left: 50%;font-size: 20px;color: white">易特商城<p>
								<ul class="card_vip" style="position: absolute;top:44%;left: 46%;width: 41%;">
									<li><em style="font-size: 30px;color: white;font-weight: bold;">VIP</em><span style="color: white;margin-left: 7%;font-size: 12px;">会员卡</span></li>
									<li style="font-size: 12px;color: white;margin: 9% 0 0 15%;">NO.00008888</li>
								</ul>
							 	<img class="full-image" src="resources/images/card-A.png" style="margin-top: 2%;">
							</div>
	                </ion-scroll>
	            </ion-slide>
	        </ion-slide-box>
    	</tab-slide-box>
    	
	</ion-content>
</ion-view>