<ion-modal-view > 
	<ion-header-bar class="bar-balanced fix-buttons">
	  <a class="button button-balanced" ng-click="closeCardModal()"> 取 消 </a>
      <h1 class="title">会员卡详情</h1>
      <img class="ImgDetails" ng-click="openCardQRModal(cardInfo)" src="resources/images/ImgDetails.png" style="position: absolute;top:18%;right:2%;">
    </ion-header-bar>
	<ion-content class="">
		<ion-scroll style="height:100%">
			<div class="list card" style=" width:75%;margin: 0 auto;border: none; box-shadow: none;">
				<div style="position:relative;">
				<p style="position: absolute;top: 9%;left: 32%;font-size: 16px;color: white">{{cardInfo.cardName}}<p>
				<ul class="card_vip" style="position: absolute;top:30%;left: 42%;width: 58%;">
					<li><em style="font-size: 30px;color: white;font-weight: bold;">VIP</em><span style="color: white;margin-left: 7%;font-size: 12px;width: 100%;">{{cardInfo.type | cardTypeFilter}}</span></li>
					<li style="font-size: 12px;color: white;margin: 0 0 0 -11%;">开始时间：{{cardInfo.startTime | dateFormatFilter}}</li>
									<li style="font-size: 12px;color: white;margin: 0 0 0 -11%;line-height: 14px;">结束时间：{{cardInfo.endTime | dateFormatFilter }}</li>
					<li style="font-size: 12px;color: white;margin: 0 0 0 -11%;">NO.{{cardInfo.cardNum}}</li>
				</ul>
			 	<img class="full-image" src="resources/images/card-A.png" style="margin-top: 2%;">
			 	</div>
			 	<ul class="slide_ul" style="color: #8c8b93;">
			 	  	<li>名称： <span>{{cardInfo.cardName}}</span></li>
			 	  	<li>卡号： <span>{{cardInfo.cardNum}}</span></li>
			 	  	<li>卡类型： <span>{{cardInfo.type | cardTypeFilter}}</span><span ng-if="cardInfo.type==1">，剩余次数：{{cardInfo.count}}</span></li>
			 	  	<li>有效期： <span>{{cardInfo.startTime | dateFormatFilter}}至{{cardInfo.endTime | dateFormatFilter}}</span></li>
			 	  	<li>会员详情： <span>{{cardInfo.depict}}</span></li>
			 	  	<li style="font-size: 12px;color:#ccc;border:0;">
			 	  		<p style="font-size: 14px;margin: 3% 0 2% 0; color:#8c8b93">使用记录:</p>
			 	  		<p style="font-size:12px;line-height:20px;" ng-repeat="log in cardLogList">{{log.createTime}}&nbsp;&nbsp;<span>{{log.remark}}</span></p>
			 	  		<p style="font-size:12px;line-height:20px;" ng-repeat="log in cardLogList">{{log.createTime}}&nbsp;&nbsp;<span>{{log.remark}}</span></p>
			 	  		<p style="font-size:12px;line-height:20px;" ng-repeat="log in cardLogList">{{log.createTime}}&nbsp;&nbsp;<span>{{log.remark}}</span></p>
			 	  		<p style="font-size:12px;line-height:20px;" ng-repeat="log in cardLogList">{{log.createTime}}&nbsp;&nbsp;<span>{{log.remark}}</span></p>
			 	  	</li>	
			 	  </ul>
			</div>
		</ion-scroll>
	</ion-content>
</ion-modal-view> 
