<ion-view  view-title="详细说明" style="background:#eeeeee" hide-tabs="true"> 
	<ion-content>
	
	    
      	<div class="list">

	        <div class="item item-divider" style="font-size: 12px;color: #8c8c8c;">
	         	 适用范围
	        </div>
	
	        <a class="item" href="#">
	          	全场通用
	        </a>
	         <div class="item item-divider" style="font-size: 12px;color: #8c8c8c;">
	         	 使用须知
	        </div>
	        <ul style="padding: 0 5% 0 5%;margin: 3% 0 0 0;background: white;">
	        	<li>1.AAAA</li>
	        </ul>
	 	</div>
	    
	     
	</ion-content>
</ion-view>
