<ion-view view-title="购物车({{wxstore.cartNumber}})">
	<ion-content class="">
		<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item ng-repeat="cartGoods in goodsList" style="padding:0px;">
				<div class="row">
					<div class="col col-center" ng-click="selectCartGoods(cartGoods.id)" style="padding:0px 0px 0px 0px;">
		  			    <span class="checkbox"  style="padding:0px 0px 0px 0px;">
				        	<input type="checkbox" ng-checked="cartGoods.selected">
				        </span> 
		        	</div>
		        	<div class="col col-20 col-center" ng-click="selectCartGoods(cartGoods.id)" style="padding:0px 0px 0px 0px;">
		        		<a class="item-image"><img ng-src ="/{{wxstore.ctx}}/static-content?contentPath={{cartGoods.goodsImageUrl}}" ></a>				    
		        	</div>
		        	<div class="col col-67" style="padding:0px;">
						<a href="#/tab/CartGoodsDetail/{{cartGoods.goodsId}}" class="item-content" style="padding:0px 0px 0px 10px;">
							<h2>{{cartGoods.goodsName}}</h2>	
							<p>{{cartGoods.goodsDesc}}</p>
							<p>￥{{cartGoods.realPrice}}  x {{cartGoods.goodsNumber}}</p>
						</a>
		        	</div>
				</div>
				<ion-option-button class="button-assertive" ng-click="onItemDelete(cartGoods)"> 删 除 </ion-option-button>
			</ion-item>
		</ion-list>
		
		<!-- 没有商品提示 -->
		<div class="list card" ng-if="goodsList.length == 0">
		  <div class="item item-body">
		    <p>
				亲，您的购物车还没有任何商品哦！~~~      
		    </p>
		    <p>
		    <a class="button button-full button-balanced" href="#/tab/Store"> 逛商城，狂欢购 </a>
		    </p>
		  </div>
	   	  
		</div>
		<br/>
		<br/>
	</ion-content>
</ion-view>

<ion-footer-bar class="bar bar-light" ng-if="goodsList.length > 0" style="background-color: #F2F2F2;">
	<div class="button-bar">
		<div style="width:70%;">
			<div style="margin: 0 20px 0 0;text-align: right; font-size: 14px;">合计：<i class="assertive">{{total | currency:"￥"}}</i></div>
			<div style="margin: 0 20px 0 0;text-align: right; font-size: 10px;">不含运费</div>
		</div>
<!-- 		<a href="#/tab/CartOrderConfirm/{{goodsDetail.id}}" class="button button-assertive" style="min-width:80px"> 结 算 </a> -->
		<a ng-click="preCartOrderConfirm()" class="button button-assertive" style="min-width:80px"> 结 算 </a>
	</div>
</ion-footer-bar>

