<ion-modal-view class="product edit create">
  <form name="itemEdit" novalidate>
    <ion-header-bar class="bar-balanced fix-buttons">
      <a class="button button-balanced" ng-click="closeModal()"> 取 消 </a>
      <h1 class="title">添加收货地址</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
      <div class="row" ng-class="{'no-padding-top': !data.editItem}">
        <div class="col">
          <label class="item item-input large">
            <input type="hidden" ng-model="newAddress.sid">
            <input type="text" ng-model="newAddress.name"  placeholder="收货人姓名" required>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="tel" ng-model="newAddress.mobile" placeholder="收货人电话" required>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
         	<a class="item" ng-click="openSexModel(newAddress.sex)" style="color: #aaa;text-align: left;">
		         	 身份
	        	<span class="item-note icon-right ion-chevron-right" style="margin-left: 8px;"></span>
	        	<span style="float:right" ng-if="newAddress.sex==0">女士</span>
	        	<span style="float:right" ng-if="newAddress.sex==1">先生</span>
		         	
		 			</a>
        </div>
      </div>
      <div class="row">
		    <div class="col">
			 		<!--<ionic-city-picker options='vm.CityPickData1'></ionic-city-picker>-->
					<ionic-city-picker options='vm.CityPickData2' style="text-align: left;"></ionic-city-picker>
					<!--<ionic-city-picker options='vm.CityPickData3'></ionic-city-picker>-->
					<!--<ionic-city-picker options='vm.CityPickData4'></ionic-city-picker>-->
		    </div>
    </div>
      <!--<div class="row">
      	<div class="col" style="word-wrap: break-word ;" >
		        <a class="item ion-ios-location" ng-click="openAddrModel()" style="font-size: 14px;color: #aaa;white-space:normal;text-align: left;">
		         	<span class="item-note icon-right ion-chevron-right"></span>
		         	<span style="width: 87%; float: right;">{{newAddress.provinceName}}{{newAddress.cityName}}{{newAddress.countyName}}{{newAddress.streetName}}</span>
		        </a>
      	</div>
      </div>-->
      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" ng-model="newAddress.detailName" placeholder="详细收货地址信息" required>
          </label>
        </div>
      </div>

     <button ng-click="saveAddress()" class="button button-full button-balanced"> 保 存 </button>
	 <br/>
	 <br/>
	 <br/>

    </ion-content>
  </form>
</ion-modal-view>