<ion-view  view-title="账户与安全" style="background:#eeeeee" hide-tabs="true"> 
	<ion-content>
	
	    <div class="list">
	    	
	    	<div class="item item-divider">
          		<span style="color: #65655c;font-size: 12px;">账户</span>
        	</div>
	        <a class="item" href="#">
	          	账户名称	
	          	<span class="item-note">
	           	 	AAABBB
	          	</span>
      		</a>
	        <a class="item" href="#">
	          	账户密码	
	          	<span class="item-note">
	           	 	**********
	          	</span>
      		</a>
      		<a class="item" href="#">
	          	手机绑定	
	          	<span class="item-note">
	           	 	185****0624
	          	</span>
      		</a>
      		<a class="item" href="#">
	          	邮箱绑定	
	          	<span class="item-note">
	           	 	未绑定
	          	</span>
      		</a>
      		 
	        
	    	<div class="item item-divider">
          		<span style="color: #65655c;font-size: 12px;">安全</span>
        	</div>
	        <a class="item" href="#/tab/myAccountPassword">
	          	修改密码
      		</a>
	        
	    </div>
	   	<div class="padding">
	        <button class="button button-block" style="border-radius: 5px;border: none;">退出账户</button>
	    </div>
	     
	</ion-content>
</ion-view>
