<ion-view view-title="出生日期" style="background:#eeeeee" hide-tabs="true">
<ion-content>
<input type="hidden" class="input_hidden" value="0"/>
<div class="list">
	<label class="item item-input">
    <span class="input-label">出生日期：</span>
    <ionic-datepicker input-obj="datepickerObject" class="item-button-right">
        <button class="button button-clear button-positive">
            {{memberCenterPageVo.mbrith | date:'yyyy-MM-dd'}}
        </button>
    </ionic-datepicker>
	</label>
</div>

</ion-content> 
</ion-view>