<ion-view view-title="我的" style="background: #eeeeee;" hide-nav-bar="true">
	
	
	<ion-header-bar align-title="center" class="bar-balanced">
	  <h1 class="title">我的</h1>
	</ion-header-bar>
	
	<ion-content>
		<input type="hidden" class="input_hidden" value="2"/>
		<div class="list_head" style="background:#ffffff;">
			<ul class="ul_left" ng-click="gold()">
				<li><a>{{memberCenterPageVo.levelName}}金牌会员</a></li>
				<li><a>会员等级</a></li>
			</ul>
			<div class="div_pic">
				<img div_pic src="http://www.runoob.com/try/demo_source/venkman.jpg"> <!--{{myCenterPageVo.imageUrl}}-->
			</div>
			<ul class="ul_right" ng-click="integral()">
				<li><a>{{memberCenterPageVo.num}}2000</a></li>
				<li><a>会员积分</a></li>
			</ul>
			<div class="div_span">
				<span>hi!&nbsp;&nbsp;{{memberCenterPageVo.mnickName}}刘稳</span>
			</div>
			<button ng-if="memberCenterPageVo.signIn==true" class="button icon icon-left button-clear icon2 font2" style="position:absolute;right: -3.8%;top:50%;width: 25%; font-size: 16px;line-height: 12px;color:#aaa;" ng-click="sign(memberCenterPageVo.signIn)"></button><!--ion-clipboard-->
			<button ng-if="memberCenterPageVo.signIn==false" class="button icon icon-left button-clear icon2 font2" style="position:absolute;right: -3.8%;top:50%;width: 25%; font-size: 16px;line-height: 12px;color:#078418;" ng-click="sign(memberCenterPageVo.signIn)"></button>
		</div>		
				
		<div class="list">
			 <a class="item  ion-person" href="#/tab/MyIntion" style="padding: 16px;">
			   <i class="icon balanced"></i>
			   	个人信息
			   <span class="item-note icon-right ion-chevron-right" ></span>
			</a>
			<a class="item ion-ios-location" href="#/tab/MyAddress" style="padding: 16px;">
			   <i class="icon"></i>
			   	收货地址
			   <span class="item-note icon-right ion-chevron-right"></span>
			</a>
			
			<a class="item ion-locked" href="#/tab/MyAccountPassword" style="padding: 16px;">
			   <i class="icon"></i>
			   	账户与安全
			   <span class="item-note icon-right ion-chevron-right"></span>
			</a>
			 
			<a class="item ion-android-call" href="#/tab/MyService" style="padding: 16px;">
			   <i class="icon"></i>
			   	服务中心
			   <span class="item-note icon-right ion-chevron-right"></span>
			</a>
		</div>
	</ion-content>
	
</ion-view>

