<ion-view view-title="个人信息" style="background:#eeeeee" hide-tabs="true" >
			<ion-content>
				<div class="list">
					<a class="item item-avatar-right " href="" ng-click="showAlert()" style="padding-top: 7%;">
						<img style="max-width:50px;max-height:50px;border-radius: 5%;top:15%" src="http://www.runoob.com/try/demo_source/venkman.jpg"> 头像  
					</a>

					<a class="item " href="#/tab/MyIntionName" style="padding: 16px;">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							名字
						<span class="item-note">
							{{detail.mrealName}}
						</span>
					</a>
					
					<a class="item " href="#/tab/MyNikeName" style="padding: 16px;">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							昵称
						<span class="item-note">
							{{detail.mnickName}}
						</span>
					</a>
					
					<a class="item "  href="#/tab/MyBirthday" style="padding: 16px;">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							出生日期
				        <span class="item-note">
			            	{{detail.mbrith}}
			          	</span>
					</a>

					<a class="item "  href="#/tab/MyIntionGender" style="padding: 16px;">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							性别
				        <span class="item-note">
			            	{{detail.msex}}
			          	</span>
					</a>

					<a class="item item-icon-right" href="#/tab/MyIntionQR" style="padding: 16px;">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							我的二维码
			          	<span style="position: absolute;width: 30px;height: 30px;right: 30px;top:22%;opacity: 9;"><img style="width: 100%;height: 100%;" src="http://www.iconpng.com/png/essentials/blackberry4.png"></span>
					</a>

					<a class="item" href="#/tab/MyIntionregion" style="padding: 16px;">
						<i class="item-note ion-chevron-right" style="margin-left: 4%;"></i>
							地区
						<span class="item-note">
							{{detail.mcomefrom}}
						</span>
					</a>
				</div>
			</ion-content>
		</ion-view>