<ion-view view-title="我的二维码" style="background:#eeeeee" hide-tabs="true">
		<ion-content>
	
			<div class="list_QRA" style="">
	
		        <div class="div_toppic" href="#">
		          <div class="div_toppicA">
		          	<img src="http://www.runoob.com/try/demo_source/venkman.jpg">
		          </div>
		         
		         <div class="div_toppicB">
			          <span class="div_H">{{qrCode.mnickName}}刘稳</span>
			          <p>{{qrCode.mcomefrom}}中国</p>
		          </div>	
		        </div> 
		        <!-- <input id="qrInfo" type="hidden" value="{{qrCode.qrInfo}}"> -->
	        	<!--<div style="text-align: center">
	        		<div id='qrcanvas' ></div> 
				    <wminfo size="5" infostr='{{qrCode.qrInfo}}' color="#000000" ng-if="qrCode.qrInfo"></wminfo>
				</div>-->
				<img class="list_QRB" src="resources/images/ewm.png" style="">
	      </div>
			
		</ion-content>
</ion-view>