<ion-view view-title="积分说明">
	<ion-content class="">
	
		<tab-slide-box tab="0">
	    	<div class="tsb-icons">
	    		<div class="tsb-ic-wrp" style="display: block;">
					<ion-scroll direction="x" class="tsb-hscroll">
						<a href="javascript:;" style="width: 30%">全部</a>
						<a href="javascript:;" style="width: 30%">获取</a>
						<a href="javascript:;" style="width: 30%">使用</a>
					</ion-scroll>
				</div>
	    	</div>
	        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
	            <ion-slide style="background: white;">
	            	<ion-scroll style="height:100%;">
	            		<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh()"></ion-refresher>
	            		<ul class="list list_ka" style="text-align: left;padding: 0 3% 0 3%;">
					        <li class="item">
				              	 <h2>5月份财富奖励</h2>
	 							 <p>2016-06-01</p>
	 							 <span style="right: 5%; font-size: 12px;top:19%">+200</span>
					        </li>
					        <li class="item">
				              	 <h2>手机话费充值</h2>
	 							 <p>2016-06-01</p>
	 							 <span style="right: 5%; font-size: 12px;top:19%">+10</span>
					        </li>
					    </ul>   
	                </ion-scroll>
	            </ion-slide>
	            <ion-slide style="background: #FFFFFF;">
	           	 	<ion-scroll style="height:100%">
	           	 		<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh()"></ion-refresher>
		                <ul class="list list_ka" style="text-align: left;padding: 0 3% 0 3%;">
					        <li class="item">
				              	 <h2>5月份财富奖励</h2>
	 							 <p>2016-06-01</p>
	 							 <span style="right: 5%; font-size: 12px;top:19%">+200</span>
					        </li>
					        <li class="item">
				              	 <h2>手机话费充值</h2>
	 							 <p>2016-06-01</p>
	 							 <span style="right: 5%; font-size: 12px;top:19%">+10</span>
					        </li>					       
					    </ul>   
	                </ion-scroll>
	            </ion-slide>
	            <ion-slide style="background: #FFFFFF;">
	           	 	<ion-scroll style="height:100%">
	           	 	<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh()"></ion-refresher>
		               <ul class="list list_ka" style="text-align: left;padding: 0 3% 0 3%;">
					        <li class="item">
				              	 <h2>5月份财富奖励</h2>
	 							 <p>2016-06-01</p>
	 							 <span style="right: 5%; font-size: 12px;top:19%">+200</span>
					        </li>
					        <li class="item">
				              	 <h2>手机话费充值</h2>
	 							 <p>2016-06-01</p>
	 							 <span style="right: 5%; font-size: 12px;top:19%">+10</span>
					        </li>
					    </ul>   
	                </ion-scroll>
	            </ion-slide>
	        </ion-slide-box>
    	</tab-slide-box>
    	
	</ion-content>
</ion-view>

