<ion-view view-title="性别" style="background:#eeeeee" hide-tabs="true">
		<ion-content>
	
			<div class="list">
				<label class="item item-radio">
          			<input type="radio" name="group" value="go" checked="checked">
          			<div class="item-content">
            			男
          			</div>
          			<i class="radio-icon ion-checkmark"></i>
        		</label>
	
				<label class="item item-radio">
          			<input type="radio" name="group" value="python">
         			 <div class="item-content">
           			 女
         			 </div>
          			<i class="radio-icon ion-checkmark"></i>
        		</label>
			</div>
			
		</ion-content>
</ion-view>