<ion-view view-title="积分记录" hide-tabs="true"> 
	<ion-content class="">
	
		<tab-slide-box tab="0">
	    	<div class="tsb-icons">
	    		<div class="tsb-ic-wrp" style="display: block;">
					<ion-scroll direction="x" class="tsb-hscroll">
						<a href="javascript:;" style="width: 30%" ng-click="showIntegralList(2)">全部</a>
						<a href="javascript:;" style="width: 30%" ng-click="showIntegralList(1)">获取</a>
						<a href="javascript:;" style="width: 30%" ng-click="showIntegralList(0)">使用</a>
					</ion-scroll>
				</div>
	    	</div>
	        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
	            <ion-slide style="background: white;">
	            	<ion-scroll style="height:100%;">
	            		<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh(2)"></ion-refresher>
	            		<ul class="list list_ka" style="text-align: left;padding: 0 3% 0 3%;margin-top: 2%;">
					        <li class="item" ng-repeat="integral in integralList">
				              	 <h2>{{integral.remark}}</h2>
	 							 <p>{{integral.createTime}}</p>
 							 	<span style="right: 5%; color:red; font-size: 12px;top:19%" ng-if="integral.type==0">-{{integral.num}}</span>
 							 	<span style="right: 5%; color:red; font-size: 12px;top:19%" ng-if="integral.type==1">+{{integral.num}}</span>
					        </li>
					    </ul>   
	                </ion-scroll>
	            </ion-slide>
	            <ion-slide style="background: #FFFFFF;">
	           	 	<ion-scroll style="height:100%">
	           	 		<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh(1)"></ion-refresher>
		               <ul class="list list_ka" style="text-align: left;padding: 0 3% 0 3%;margin-top: 2%;">
					        <li class="item" ng-repeat="integral in increaseIntegralList">
				              	 <h2>{{integral.remark}}</h2>
	 							 <p>{{integral.createTime}}</p>
 							 	<span style="right: 5%; color:red; font-size: 12px;top:19%">+{{integral.num}}</span>
					        </li>
					    </ul> 
	                </ion-scroll>
	            </ion-slide>
	            <ion-slide style="background: #FFFFFF;">
	           	 	<ion-scroll style="height:100%">
	           	 	<ion-refresher pulling-text="松手刷新" on-refresh="doRefresh(0)"></ion-refresher>
		               <ul class="list list_ka" style="text-align: left;padding: 0 3% 0 3%;margin-top: 2%;">
					        <li class="item" ng-repeat="integral in reduceIntegralList">
				              	 <h2>{{integral.remark}}</h2>
	 							 <p>{{integral.createTime}}</p>
 							 	<span style="right: 5%; color:red; font-size: 12px;top:19%">-{{integral.num}}</span>
					        </li>
					    </ul>    
	                </ion-scroll>
	            </ion-slide>
	        </ion-slide-box>
    	</tab-slide-box>
    	
	</ion-content>
</ion-view>

