<ion-view  view-title="服务中心" style="background:#eeeeee" hide-tabs="true"> 
	<ion-content>
	
	    <div class="list">

	        <div class="item item-divider" style="font-size: 12px;">
	       		  热门问题
	        </div>

	        <a class="item" href="#/tab/MyServiceCard">
	         	 卡券问题
	        </a>
	
	        <a class="item" href="#/tab/MyServiceIntegral">
	        	 积分问题
	        </a>
	
	        <a class="item" href="#/tab/MyServiceMember">
	       		   会员问题
	        </a>
	
	        <a class="item" href="#/tab/MyServiceOther">
	       		  其它问题
	        </a>
			
      </div>
	     
	</ion-content>
</ion-view>
