<ion-view view-title="会员问题" style="background:#eeeeee" hide-tabs="true">
	<ion-content style="padding: 6% 6% 0 6%;">
	
		<div class="list list_content">
			<ul class="div_cardA">
				<li><h4>Q1:AAAAAAAAA</h4></li>
				<li>aaaaaaaaaaa</li>
				<li>aaaaaaaaaaa</li>
			</ul>
			<ul class="div_cardB">
				<li><h4>Q2:BBBBBBBB</h4></li>
				<li>bbbbbbbbbb</li>
				<li>bbbbbbbbbb</li>
			</ul>		
			<ul class="div_cardC">
				<li><h4>Q3:CCCCCCCCC</h4></li>
				<li>ccccccccc</li>
				<li>cccccccc</li>
			</ul>		
	   </div>
	     
	</ion-content>
</ion-view>