<ion-view view-title="确认订单" hide-tabs="true">
	<ion-content has-header="true" >
	
		<div class="list card">
			<div class="item item-body item-icon-left" ng-click="choiseAddress()" style="padding:16px 5px 16px 5px;">
		    	<i class="icon ion-location"></i>
				<h4 style="margin:0 0 5px 40px;">收货人：<span>{{wxstore.consigneeAddress.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{wxstore.consigneeAddress.phone}}</span></h4>
				<h4 style="margin:0 0 0 40px;">收货地址：<span>{{wxstore.consigneeAddress.province}}{{wxstore.consigneeAddress.city}}{{wxstore.consigneeAddress.area}}{{wxstore.consigneeAddress.street}}{{wxstore.consigneeAddress.detail}}</span></h4>
			</div>
			
			<div class="item item-body item-text-wrap" style="padding: 10px 10px 10px 5px;" ng-repeat="goodsDetail in order.goodsList">
		     	<a class="order-item item item-thumbnail-left " href="#" >
			      <img ng-src ="/{{wxstore.ctx}}/static-content?contentPath={{goodsDetail.goodsImageUrl}}" >
			      <h2 style="margin:0 0 0 0">{{goodsDetail.goodsName}}</h2>
			      <p style="margin:6px 0 0 0">{{goodsDetail.goodsDesc}}</p>
			      <p style="margin:6px 0 0 0;font-size:14px;color:#FF6600;">{{goodsDetail.realPrice * goodsDetail.goodsNumber| currency:"￥"}}（{{goodsDetail.realPrice | currency:"￥"}} x {{goodsDetail.goodsNumber}}）</p>
			    </a>
			</div>
			<div class="item item-divider " style="background-color:#ffffff">
		   		<p style="padding:15px 10px 5px 10px;font-size:12px;">配送方式：快递 包邮</p>
		    </div>
		    <div class="item item-divider " style="background-color:#ffffff">
		   		<p style="padding:15px 15px 15px 0px;font-size:10px;float:right;font-size:14px;color:#FF6600;font-weight: bold"> 合计：{{order.realMoney | currency:"￥"}}</p>
		    </div>
		</div>
		<br/>
	</ion-content>
</ion-view>

<ion-footer-bar class="bar bar-light">
	<div class="button-bar">
		<a ng-click="submitOrder(order)" class="button button-balanced"> 微信支付({{order.realMoney | currency:"￥"}}) </a>
	</div>
</ion-footer-bar>


