<ion-view view-title="商品详情" >
	<ion-content has-header="true" padding="true">
	    <div class="imgageList" >
	        <img ng-src ="/{{wxstore.ctx}}/static-content?contentPath={{goodsDetailImage.imageUrl}}" ng-repeat="goodsDetailImage in goodsDetail.images"  ng-if="goodsDetail.images.length > 0">
	    </div>
	</ion-content>
</ion-view>

<ion-footer-bar class="bar bar-light">
	<div class="button-bar">
		<a ng-click="addToCard({{goodsDetail.id}})" class="button icon-cart button-energized" style="margin-right:10px;">加入购物车</a>
		<a ng-click="buy(goodsDetail.id)" class="button  button-assertive"> 立即购买 </a>
	</div>
</ion-footer-bar>


<!--  -->
<script>
	
</script>
	
	