/*酒店公用工具内容左*/
.content{
	width: 1180px;
	margin-left: 85px;
}
.Nav_Dom{
	width: 1178px;
	height: 37px;
	border: 1px solid #bbbbbb;
	border-top:none;
	overflow: hidden;
}
.Nav_Dom dt a,.Nav_Dom dd a{
	font-size: 14px;
	line-height: 34px;
	float: left;
	color: #333333;
	text-decoration: none;
}
.Nav_Dom dt a{
	color: #0066cc;
	text-decoration: none;
}
.Nav_Dom dd.Nav_Dom_Order{
	float: right;
	margin-right: 19px;
}
.Nav_search{
	height: 392px;
	margin-bottom: 20px;
	margin-top: 16px;
	overflow: hidden;
}
.Nav_search_left{
	width: 380px;
	height: 392px;
	background: #3983e5;
	float: left;
	position: relative;
	border-radius: 3px 3px 3px 3px;
	overflow: hidden;
}
.Nav_search_left .Nav_search_pic{
	width: 18px;
	height: 13px;
	position: absolute;
	top:13px;
	left: 10px;
	background:url(../img/XC-3.png) -359px 0;
	overflow: hidden;
}
.Nav_search_left h3{
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	top:13px;
	left: 38px;
	color: #FFFFFF;
	overflow: hidden;	
}
.Nav_left_down{
	width: 368px;
	height: 342px;
	background: #FFF;
	border-radius: 3px 3px 3px 3px;
	left: 6px;
	top:44px;
	position: absolute;
}
.Nav_left_head{
	height: 44px;
	background: #f5f5f5;
	border-radius: 3px 3px 0 0;
}
.Nav_left_head a{
	text-decoration: none;
	float: left;
	font-size: 12px;
	line-height: 12px;
	color: #333333;
	margin: 15px 0 0 3px;
	*display: inline;
	*vertical-align: middle;
}
.Nav_left_head input{
	float: left;
	margin:13px 0 0 35px;
	*display: inline;
}
.Nav_left_head  h5{
	float: left;
	font-size: 12px;
	line-height: 12px;
	color: #333333;
	margin: 15px 0 0 3px;
	*vertical-align: top;
}
 h5:hover{
	cursor: pointer;
	color: red;
	text-decoration: underline;
}
.Nav_left_content{
	height: 300px;
	float: left;
}
.Nav_left_content .content_font{
	font-size: 12px;
	line-height: 12px;
	margin-top: 10px;
}
.Nav_left_content input{
	width: 225px;
	height: 28px;
	*float: left;
	border: 1px solid #999999;
	padding-left: 5px;
}
.content_text{
	font-size: 14px;
	line-height: 28px;
	color: #999999;
}
.Nav_left_content form,.Nav_left_content .content_font,.Nav_left_content .content_text {
	float: left;
}
.Nav_left_content form{
	margin-top: 13px;
}	
.content_font{
	width: 48px;
	text-align: right;
	margin: 0 11px 0 35px;
}
.Nav_left_content select{
	float: left;
}
.Nav_left_content_box .content_text_last{
	font-size: 12px;
	line-height: 21px;
	color: #999999;
}
.Nav_left_content_box input{
	width: 225px;
	height: 21px;
	border: 1px solid #999999;
	position: relative;
}
.Nav_left_content_box img{
	position: absolute;
	left: 307px;
	top:188px;
}
.content_Drop :hover{
	margin-left: 202px;
	cursor: pointer;
}
.Nav_search_right{
	width: 780px;
	height: 389px;
	float: right;
	overflow: hidden;
}
.Nav_search_right img{
	/*width: 780px;*/
	float: right;

}
.Sale_lineB{
	width: 780px;
	height:2px;
	background:#3983E5;
	overflow: hidden;
}
/*公用工具酒店左*/
.Nav_left_content_search {
	width: 230px;
	height: 31px;
	border: 1px solid #e77c00;
	background: #ffb000;
	margin: 17px 0 0 94px;
	border-radius:2px 2px 2px 2px;
	text-align: center;
	float: left;
}
.Nav_left_content p{
	width: 230px;
	height: 31px;
}
.Nav_left_content_search {
	line-height: 32px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.left_content_top_pic{
	float: right;
}
.Nav_search_right{
	width: 780px;
	height: 389px;
	float: right;
}
/*酒店右图线*/
.left_content_right_font{
	width: 780px;
	height: 45px;
	float: right;
}
.left_content_right_font h3{
	float: left;
	margin:23px 20px 0 0;
}
.left_content_right_font a{
	font-size: 12px;
	line-height: 12px;
	float: left;
	margin:31px 20px 0 0;
	text-decoration: none;
	font-size: #333333;
}
a.left_content_right_fontA {
	float: right;
	font-size: 12px;
	line-height: 12px;
}
.left_content_right_font_Tri{
	width: 7px;
	height: 4px;
	background: url(../img/XC-3.jpg) -97px -38px;
	float: left;
	overflow: hidden;
	margin:35px 0 0 -15px;
}
.left_content_right_Tri{
	width: 8px;
	height: 4px;
	background: url(../img/XC-3.png) no-repeat -167px -32px;
	float: left;
	overflow: hidden;
	margin-left: 203px;
}
.left_content_right_bottom{
	width: 780px;
	height: 105px;
	float: left;
}
.left_content_right_line{
	width: 780px;
	height: 2px;
	background: #5599dd;
	overflow: hidden;
}
.left_content_right_bg{
	width: 778px;
	height: 102px;
	border: 1px solid #e2e2e2;
	border-top:none;
	float: left;
	background: url(../img/A-37.jpg) no-repeat 10px 0;
	position: relative;
}
.left_content_right_bgA{
	position: absolute;
	top:34px;
}
.left_content_right_bgB{
	position: absolute;
	left:70px;
}
.left_content_right_bgC ,.left_content_right_bgD,.left_content_right_bgE,.left_content_right_bgF,.left_content_right_bgG,.left_content_right_bgH,.left_content_right_bgI{
	position: absolute;
}
.left_content_right_bgC{
	left: 93px;
}
.left_content_right_bgD{
	left: 184px;
}
.left_content_right_bgE{
	left: 275px;
}
.left_content_right_bgF{
	left: 366px;
}

.left_content_right_bgG{
	left: 458px;
}
.left_content_right_bgH{
	left: 548px;
}
.left_content_right_bgI{
	left: 642px;
}
.left_content_right_bgJ{
	position: absolute;
	right:0;
}
.left_content_right_bgK{
	width: 614px;
	height: 28px;
	position: absolute;
	top:74px;
	left: 93px;
}
.left_content_right_bgK a {
	font-size: 12px;
	line-height: 28px;
	color: #666666;
	text-decoration: none;
	margin-right: 50px;
	float: left;
}
/*.content_pic{
	width: 1180px;
}*/
/*公用工具内容左北京上海*/
.content_left{
	width: 380px;
	float: left;
	overflow: hidden;
	*display: inline;
}
.content_pic_left{
	width: 380px;
	height: 211px;
	position: relative;
}
.content_pic_leftA{
	width: 380px;
	height: 211px;
	background: url(../img/A-43.jpg) no-repeat;
	position: absolute;
	float: left;
}
.content_pic_leftA_bg{
	width: 380px;
	height: 88px;
	background: #515122;
	position: absolute;
	opacity: 1;
	bottom: 0;
}
.content_pic_leftA_font{
	position: absolute;
	width: 352px;
	height: 69px;
	bottom: 0;
	left: 20px;
	top: 11px;
	z-index: 1;
}
.content_pic_leftA_font li{
	width: 80px;
	height: 32px;
	background: #8f8f75;
	float: left;
	text-align: center;
	margin:0 8px 5px 0 ;
	border-radius: 5px;
}
.content_pic_leftA_font li:hover{
	width: 78px;
	height: 30px;
	border: 1px solid #FFFFFF;
}
.content_pic_leftA_font li a{
	font-size: 14px;
	line-height: 32px;
	color: #FFFFFF;
	text-decoration: none;
	z-index: 1;
}

.content_pic_leftB{
	width: 378px;
	height: 218px;
	background: #f2f2f2;
	border: 1px solid #dedede;
	border-radius: 5px 5px 5px 5px;
	margin: 20px 0 0 0;
}
.content_pic_Frame{
	width: 342px;
	height: 184px;
	margin: 20px 0 0 18px;
}
.content_pic_Frame h4{
	font-size: 18px;
	color: #333333;
}
.content_pic_Frame_line{
	border-top:1px solid #d4d4d4;
	margin: 9px 0 9px 0;
}
.content_pic_Frame_year{
	width: 342px;
	height: 93px;
	float: left;
}
.content_pic_Frame_year img{
	float: left;
}
.content_pic_Frame_year_font{
	width: 161px;
	height: 95px;
	float: left;
	margin:9px 0 0 13px;
}
.content_pic_Frame_year dt {
	height: 28px;
}
.content_pic_Frame_year dt a{
	font-size: 18px;
	line-height: 28px;
	color: #333333;
	text-decoration: none;
	float: left;
}
.content_pic_Frame_year_fontA {
	height: 22px;
}
.content_pic_Frame_year_fontA a{
	font-size: 12px;
	line-height: 22px;
	color: #666666;
	text-decoration: none;
	float: left;
	*display: inline;
	overflow: hidden;
}
.content_pic_Frame_year_fontB{
	height: 45px;
}
.content_pic_Frame_year_fontB a{
	font-size: 12px;
	line-height: 44px;
	color: #b2b2b2;
	text-decoration: none;
	float: left;
}
.content_pic_Frame_bottom{
	width: 340px;
	height: 41px;
	background: #ffffff;
	border: 1px solid #88b6e3;
	border-radius: 4px 4px 4px 4px;
	float: left;
	margin: 11px 0 0 0;
}
.content_pic_Frame_bottom a{
	font-size: 16px;
	line-height:16px;
	color: #0066cc;
	text-decoration: none;
	margin:13px 0 0 101px ;
	display: block;
}
/*公用工具内容左北京上海end*/
.content_pic_leftC{
	width: 370px;
	height: 166px;
	border: 5px solid #ffd33a;
	margin: 20px 0 0 0;
}
.content_pic_leftD{
	width: 380px;
	height: 188px;
	position: relative;
}
.content_pic_leftD_head{
	width: 380px;
	height: 42px;
	position: absolute;
}
.content_pic_leftD_head h4{
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	top:12px;
}
.content_pic_leftD_Promotion{
	width: 45px;
	height: 28px;
	position: absolute;
	left: 92px;
	background: url(../img/XC-3.png) no-repeat -267px -16px;
}
.content_pic_leftD_bottom{
	width: 378px;
	height: 144px;
	border: 1px solid #dedede;
	position: absolute;
	top:42px;
	border-radius: 4px 4px 4px 4px;
}
.content_pic_leftE{
	width: 378px;
	height: 63px;
	border: 1px solid #dedede;
	margin: 14px 0 0 0;
	border-radius: 4px 4px 4px 4px;
}
.content_pic_leftF  h4{
	font-size: 12px;
	line-height: 30px;
	color: #333333;
	float: left;
	margin-right: 7px;
	*display: inline;
}
.content_pic_leftF  input{
	border: 1px solid #cccccc;
	width: 234px;
	height: 28px;
	float: left;
	overflow: hidden;
}
.content_pic_leftF{
	width: 379px;
	height: 30px;
	margin-top:18px ;
}
.content_pic_leftF_font{
	font-size: 12px;
	line-height: 28px;
	color: #aa9999;
	float: left;
	padding-left: 3px;
	overflow: hidden;
}
.content_pic_Sub{
	width: 54px;
	height: 28px;
	float: left;
	background: #f2f2f2;
	border: 1px solid #cccccc;
	text-align: center;
	margin-left: -1px;
}
.content_pic_Sub a{
	font-size: 12px;
	line-height: 28px;
	text-decoration: none;
	color: #333333;
	*display: inline;
}
.content_pic_leftG{
	width: 378px;
	height: 63px;
	border: 1px solid #c4e3ea;
	margin-top: 37px;
	border-radius: 4px 4px 4px 4px;
}
/*内容 右*/
.content_right{
	width: 780px ;
	float: right;
	*display: inline;	
	overflow: hidden;
	
}
.content_pic_right{
	width: 780px;
	height: 180px;
	float: right;
	position: relative;
	*display: inline;
}
.content_pic_right img{
	/*float: left;*/
	position: absolute;
}
.content_pic_right_Frame{
	width: 130px;
	height: 180px;
	position: absolute;
	right:0;
}
.content_pic_right_Frame li{
	width: 130px;
	height: 35px;
	border-bottom: 1px solid #dedede;
	*display: inline;
	*zoom:1;
	position: relative;
}
.content_pic_right_Frame li :hover{
	width: 130px;
	height: 22px;
	background: #2577e3;
	margin:-13px 0 0 -10px ;
	padding-top: 13px;
	padding-left: 10px;
}
.content_pic_right_Frame li a {
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
	color: #ffffff;
	z-index: 1;
	position: absolute;
	left: 10px;
	top: 13px;
}
.content_pic_right_bg {
	width: 130px;
	height: 35px;
	background: #747b8d;
	/*opacity: 0.3;*/
	position: absolute;
}
.content_right_HOt_hotol{
	width: 780px;
	height: 70px;
	border-bottom: 3px solid #5599dd;
	margin-bottom: 10px;
	float: right;
	font-size: 0;
	word-spacing: 20px;
	background: url(../img/A-111.jpg) no-repeat 145px 66px , url(../img/A-112.jpg) no-repeat 475px 56px ,url(../img/A-113.jpg) no-repeat 583px 26px ;
}
.content_right_HOt_hotol h2{
	font-size: 28px;
	line-height: 28px;
	color: #8899dd;
	display: inline-block;
	*display: inline;
	*zoom:1;
	margin: 36px 5px 0 0 ;
}
.content_right_HOt_hotol a{
	font-size: 12px;
	line-height: 12px;
	color: #333333;
	text-decoration: none;
}
.content_right_orange{
	width: 780px;
	height: 155px;
	border-bottom: 1px dashed #dddddd;
	float: right;
	margin: 10px 0 0px 0;
}
.content_right_orange_left{
	width: 426px;
	height: 155px;
	float: left;
}
.content_right_orange_left img{
	width: 130px;
	height: 130px;
	float: left;
}
.content_right_orange_left dl{
	width: 286px;
	height: 99px;
	float: right;
	font-size: 0;
}
.content_right_orange_left_bgA{
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: top;
	background: url(../img/XC-3.png) no-repeat -313px -16px;
	*display: inline;
	*zoom:1;
}
.content_right_orange_left_bgB{
	width: 47px;
	height: 8px;
	display: inline-block;
	vertical-align: top;
	margin: 6px 0 0 0;
	background: url(../img/XC-3.png) no-repeat -394px 0px;
	*display: inline;
	*zoom:1;
}
.content_right_orange_left dt{
	line-height: 22px;
	height: 22px;
	margin-bottom: 11px;
}
.content_right_orange_left dt a {
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	*display: inline;
	*zoom:1;
}
.content_right_orange_left_fontAA{
	height: 18px;
}
.content_right_orange_left_fontA{
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	color: #333333;
	margin-right: 14px;
	*display: inline;
	*zoom:1;
}
.content_right_orange_left_fontBB{
	height: 28px;
}
.content_right_orange_left_fontB{
	font-size: 12px;
	line-height: 28px;
	display: inline-block;
	color: #333333;
	text-decoration: none;
	*display: inline;
	*zoom:1;
}
.content_right_orange_left_fontC{
	font-size: 12px;
	line-height: 28px;
	display: inline-block;
	color: #999999;
	text-decoration: none;
	*display: inline;
	*zoom:1;
}

.content_right_orange_right{
	width: 102px;
	height: 70px;
	float: right;
	font-size: 0;
}
.content_right_orange_right_money{
	font-size: 18px;
	/*line-height: 18px;*/
	display: inline-block;
	color: #ff6600;
	margin: 0 6px 0 37px;
}
.content_right_orange_right_font{
	font-size: 12px;
	/*line-height: 12px;*/
	color: #ff6600;
	margin:8px 0 0 0 ;
}
.content_right_orange_right_fontB{
	font-size: 12px;
	color: #10a200;
	display: inline-block;
	margin: 38px 0 0 0 ;
}
.content_right_orangeA{
	width: 780px;
	height: 155px;
	float: right;
	margin: 10px 0 0 0;
}
.content_right_Group{
	width: 780px;
	height: 49px;
	float: right;
}
.content_right_GroupA{
	font-size: 22px;
	color: #333333;
	text-decoration: none;
	float: left;
	margin: 20px 0 0 0;
}
.content_right_GroupB{
	font-size: 12px;
	line-height: 12px;
	color: #0066cc;
	text-decoration: none;
	float: right;
	margin: 29px 0 0 0;
}
.content_right_logoA{
	width: 780px;
	height: 92px;
	border-top:2px solid #d0d0d0;
	border-bottom:1px solid #e2e2e2;
	float: right;
	position: relative;
}
@keyframes move{
			0%{
				transform: translateX(0px);
			}
			100%{
				transform: translateX(-728px);
			}
		}
.content_logoA_Mobile{
	width: 200%;
	height: 71px;
	float: left;
	overflow: hidden;
	animation: move 8s linear infinite;
}
.content_right_logoA:hover .content_logoA_Mobile{
				animation-play-state:paused;
			}
.content_right_logoA_Tri_left{
	width: 24px;
	height: 92px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	background: #f5f5f5;
	float: left;
	position: absolute;
	z-index: 1;
}
.content_right_logoA_Tri_leftA {
	width: 8px;
	height: 16px;
	background: url(../img/XC-3.png) no-repeat -336px -16px;
	float: left;
	margin: 38px 0 0 8px;
}
.content_right_logoA img{
	width: 59px;
	height: 71px;
	float: left;
	margin-left: 45px;
}
.content_right_Service{
	width: 1178px;
	height: 80px;
	border: 2px solid #c2cbd4;
	float: left;
	margin-top: 51px;
}.content_right_Service_left{
	width: 792px;
	height: 64px;
	background: #2577E3;
	border-right: 1px solid #d3dbe2;
	background:url(../img/A-53.jpg) no-repeat 15px 10px;
	margin-top: 8px;
	float: left;
}
.content_right_Service_left h4{
	font-size: 22px;
	line-height: 64px;
	color: #fc7c20;
	margin-left: 76px;
	float: left;
	*display: inline;
}
.content_right_Service_left_font{
	width: 144px;
	height: 44px;
	float: left;
	margin: 11px 0 0 11px;
}
.content_right_Service_left_font li{
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	float: left;
}
.content_right_Service_left_font li a{
	font-size: 12px;
	line-height: 22px;
	color: #8f9ba7;
}
.content_right_Service_left_fontB ,.content_right_Service_left_fontC {
	width: 144px;
	height: 44px;
	float: left;
	margin: 11px 0 0 30px;
}
.content_right_Service_left_fontB a,.content_right_Service_left_fontC a{
	font-size: 12px;
	line-height: 22px;
	color: #8f9ba7;
}
.content_right_Service_right{
	width: 383px;
	height: 44px;
	float: left;
}
.content_right_Service_right{
	width: 383px;
	height: 46px;
	background:url(../img/A-54.jpg) no-repeat 15px 10px;
	margin-top: 8px;
	float: left;
}
.content_right_Service_right h4{
	font-size: 22px;
	line-height: 64px;
	color: #fc7c20;
	margin-left: 76px;
	float: left;
	*display: inline;
}
.content_right_Service_right_font{
	width: 144px;
	height: 44px;
	float: left;
	margin: 11px 0 0 11px;
}
.content_right_Service_right_font li{
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	float: left;
}
.content_right_Service_right_font li a{
	font-size: 12px;
	line-height: 22px;
	color: #8f9ba7;
}
.content_bottomB_logo_pic {
	font-size: 0;
}
.content_bottomB_logo_pic_left{
	float: left;
	margin: 30px 0 0 0;
}
.content_bottomB_logo_pic_right{
	float: right;
	margin: 30px 0 0 0;
}
.foot_bottomB{
	width: 1229px;
	height: 410px;
	float: left;
	margin-top: 30px;
}
.footer_nav_xc_line{
	width: 1148px;
	border-top: 1px dashed #e0e0e0;
	float: left;
	margin-left: 15px;
	overflow: hidden;
}
.foot_bottom_Indexes dt a{
	font-size: 16px;
	line-height: 41px;
	color: #667db7;
	text-decoration: none;
}
.foot_bottomB_Indexes dd a{
	font-size: 12px;
	line-height: 26px;
	color: #667db7;
	text-decoration: none;
}
.foot_bottomB_Indexes dl{
	float: left;
}
.foot_Indexes_line{
	height: 150px;
	border-left: 1px solid #dedede;
	float: left;
	margin: 0 60px 0 60px;
}
.copyRight a{
	font-size: 12px;
	line-height: 12px;
	color: #dedede;
	float: left;
	margin: 25px 0 0 462px;
}
.foot_bottomB_logo img {
	margin-top: 25px;
}
.foot_bottomB_logoA{
	float: left;
	margin-left: 112px;
}
